{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIT CTO ADI</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script type="module" crossorigin src="{% static 'assets/index-BS3EWI5L.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'assets/index-ywN_2OE9.css' %}">
    
  </head>
  <body>
    <div id="root"></div>
    <!-- Vite Entry Point -->
  </body>
</html>